# Dependencies
node_modules/

# Environment variables
.env

# Playwright outputs
playwright-report/
test-results/
blob-report/

# Generated reports
reports/*.json
reports/*.md
allure-results/
allure-report/

#Misc
.DS_Store

# Optional logs
*.log